body{
    background: var(--primary-color);
}
sup{
    font-weight: bold;
    font-size: 10px;
    color: #00aeee;
}
sub{
    font-weight: bold;
    font-size: 11px;
    color: #f15d22;
}
.container{
    text-align: center;
    color: var(--secondry-color);
}

.p2{
    text-align: center;
    color: var(--secondry-color);
}
.tab{
    margin-top: 40px;
    padding: 20px;
}

td{
    padding: 6px;
}
.blueciel{
    background-color: #00aeee;
    padding: 2px;
}
.td1{
    color: var(--primary-color);
    font-weight: 600;
}
.simuler{
    background-color: #f15d22;
    color: var(--primary-color);
    font-weight: 600;
}
.MENSUALITE{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #f15d22;
    color: var(--secondry-color);
}
#mensualite{
    color: #f15d22;
    text-align: center;
    font-weight: 600;
}
.td2{
    margin-top: 20px;
    color: var(--secondry-color);
}

.tdcolor{
    color: var(--secondry-color);
}

.simuler{
    color: var(--primary-color);
}

#icon{
    width: 30px;
    cursor: pointer;
    margin: 10px;
}

:root{
    
    --primary-color: #edf2fc;
    --secondry-color: #212121;
}

.dark-theme{
    --primary-color: #212121;
    --secondry-color: #edf2fc;
}


