body{
    background: var(--primary-color);
}
sup{
    font-weight: bold;
    font-size: 10px;
    color: #498749;
}
sub{
    font-weight: bold;
    font-size: 11px;
    color: #557C55;
}
.container{
    text-align: center;
    color: var(--secondry-color);
}

.p2{
    text-align: center;
    color: var(--secondry-color);
}
.tab{
    margin-top: 40px;
    padding: 20px;
}

td{
    padding: 6px;
}
.blueciel{
    background-color: #557C55;
    padding: 2px;
}
.td1{
    color: var(--primary-color);
    font-weight: 600;
}
.simuler{
    background-color: rgb(5, 163, 16);
    color: var(--primary-color);
    font-weight: 600;
}
.MENSUALITE{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(5, 163, 16);
    color: var(--secondry-color);
}
#mensualite{
    color: rgb(57, 148, 64);
    text-align: center;
    font-weight: 600;
}
.td2{
    margin-top: 20px;
    color: var(--secondry-color);
}

.tdcolor{
    color: var(--secondry-color);
}
.banka{
    width: 45px;
}

.simuler{
    color: var(--primary-color);
}

#icon{
    width: 30px;
    cursor: pointer;
    margin: 10px;
}

:root{
    
    --primary-color: #edf2fc;
    --secondry-color: #212121;
}

.dark-theme{
    --primary-color: #212121;
    --secondry-color: #edf2fc;
}


.langs{
    margin-top: 20px;
    margin-left: 10px;
    color: var(--secondry-color);
}
a{
    text-decoration: none;
    padding: 12px;
    font-weight: 650;
    transition: .3s linear;
    border-radius: 10%;
}
a:hover{
    background: #82ce87;
}
.title{
    color: var(--secondry-color);
    margin: 8px;
    font-weight: 600;
    color: #498749;
   
}
